.container-login {
  background-color: #e8f7f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.contianer-content {
  width: 420px;
  background-color: #ff9855;
  padding: 30px 20px;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.giphy {
  width: 100%;
  height: 0;
  padding-bottom: 128%;
  position: relative;
}

.contianer-content::-webkit-scrollbar {
  display: none;
}

.title {
  color: white;
  text-align: center;
  margin: 12px 0px;
}

.link {
  display: flex;
  justify-content: center;
  margin: 8px 0px;
}

.link-sub {
  color: white;
}

.image {
  width: 100%;
  border-radius: 20px;
  height: 60%;
}

label {
  color: white;
}

input {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  margin: 4px 0px 12px 0px;
}

.login-button {
  padding: 8px;
  width: 100%;
  border-radius: 10px;
}
